<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Created</key>
		<date>2013-03-14T17:15:05Z</date>
		<key>Creator</key>
		<string>root</string>
		<key>FinalPriority</key>
		<string>0</string>
		<key>InitialPriority</key>
		<string>0</string>
		<key>LastUpdated</key>
		<date>2013-03-14T17:15:17Z</date>
		<key>Owner</key>
		<string>root</string>
		<key>Priority</key>
		<string>0</string>
		<key>Queue</key>
		<string>General</string>
		<key>Requestors</key>
		<string>root@localhost</string>
		<key>Status</key>
		<string>new</string>
		<key>Subject</key>
		<string>My First Ticket</string>
		<key>TimeEstimated</key>
		<string>0</string>
		<key>TimeLeft</key>
		<string>0</string>
		<key>TimeWorked</key>
		<string>0</string>
		<key>id</key>
		<string>ticket/1</string>
	</dict>
</array>
</plist>
